process {
  executor = 'k8s'
  container = 'python:3.11'
  cpus = 1
  memory = '256 MB'
  errorStrategy = 'retry'
  maxRetries = 10
}

executor {
  retry.maxAttempts = 10    // must match process.maxRetries
  retry.delay = '10 sec'   // wait 20s between retries
}

k8s {
  namespace = 'nextflow'
  
  // Instruct Nextflow to use Kubernetes Job controller
  computeResourceType = 'Job'
  
  // PVC for workspace
  storageClaimName  = 'nextflow-workspace'
  storageMountPath  = '/workspace'
  workDir           = '/workspace/work'
  
  // Resource requests and limits
  defaultCpuRequest   = '100m'
  defaultMemoryRequest = '128Mi'
  defaultCpuLimit     = '500m'
  defaultMemoryLimit  = '256Mi'
  
  // Automatically clean up finished Jobs after 10 minutes
  ttlSecondsAfterFinished = 600
}

workDir = '/workspace/work'
