apiVersion: v1
kind: ConfigMap
metadata:
  name: nextflow-pipeline
  namespace: nextflow
data:
  fibo-jobs.nf: |
    #!/usr/bin/env nextflow
    nextflow.enable.dsl=2

    workflow {
        channel.of(1, 2, 3, 4, 5) | emitFibonacci
    }

    process emitFibonacci {
        tag "fib-${val}"
        
        input:
        val val
        
        script:
        """
        echo "Starting Fibonacci generator for Task ${val}..."

        a=0
        b=1
        for ((i=0; i<20000; i++)); do
            current_time=\$(date '+%Y-%m-%d %H:%M:%S')
            printf "[%s] Task %s - Fibonacci #%d: %s\n" "\$current_time" "${val}" "\$i" "\$a"
            fn=\$((a + b))
            a=\$b
            b=\$fn
            sleep 3
        done

        echo "Task ${val} completed!"
        """
    }

  nextflow.config: |
    process {
      executor = 'k8s'
      container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:1bd8542a8a0b42e0981337910954371d0230828e-0'
      cpus = 1
      memory = '256 MB'
      errorStrategy = 'retry'
      maxRetries = 30
    }

    executor {
      retry.maxAttempts = 30    // must match process.maxRetries
      retry.delay = '10 sec'   // wait 20s between retries
    }

    k8s {
      namespace = 'nextflow'
      computeResourceType = 'Job'
      storageClaimName   = 'nextflow-workspace'
      storageMountPath   = '/workspace'
      workDir            = '/workspace/work'
      defaultCpuRequest   = '100m'
      defaultMemoryRequest = '128Mi'
      defaultCpuLimit     = '500m'
      defaultMemoryLimit  = '256Mi'
      ttlSecondsAfterFinished = 600
    }

    workDir = '/workspace/work'
